{% extends 'base.html' %}

{% block title %}Login - Multi Store POS{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to the Dashboard!</h1>
    <p>You have successfully logged in.</p>

    <ul>
        {% for store in stores %}
        <li>
            <a href="{% url 'store:store_product_list' store.id %}">{{ store.name }}</a>
        </li>
        {% endfor %}
    </ul>
    
</body>
</html>
{% endblock %}