{% extends 'base.html' %}

{% block title %}New Invoice Receipt{% endblock %}

{% block content %}
<div class="invoice-container">
    <h2>Invoice No: {{ customer_invoice.id }}</h2>
    <p>Customer: {{ customer_invoice.customer_name }}</p>

    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in transaction_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.product.selling_price }}</td>
                <td>${{ item.price|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Subtotal: N{{ subtotal|floatformat:2 }}</p>
    <p>Discount: N{{ discount|floatformat:2 }}</p>
    <p>Total: N{{ total|floatformat:2 }}</p>
</div>
{% endblock %}
